* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
h1 {
  text-align: center;
  margin-top: 4rem;
}

  .container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 20px;
    margin: 4rem;
}

.card {
    border: 1px solid #ccc;
    padding: 20px;
    text-align: center;
}

.card img {
    width: 100%;
    height: auto;
    margin-bottom: 10px;
}

.card div {
    margin-bottom: 5px;
}

.card h3 {
    margin-bottom: 10px;
}

.card p {
    margin-bottom: 5px;
}
